@font-face {
    font-family: 'cascadia';
    src: url('src/Cascadia.ttf') format('truetype');
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    font-family: 'cascadia', 'Open Sans', Arial, sans-serif;
}

nav{
    background-color: #282a36;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}

nav #logo{
    font-size: 18px;
    color: #f8f8f2;
    float: left;
    display: block;
    padding: 14px 16px;
}

nav #logo:hover{
    color: #bd93f9
}

nav a{
    font-size: 18px;
    color: #bd93f9;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    transition:all 0.5s;
}

nav a:hover{
    color: #ff79c6;
    transform: translateY(-2px);
}

section {
    width: 100%;
    margin: 0;
    padding: 35px 0 20px 0;
    background-color: #403c5c;
    height: 100v;
}

#name {
    display: inline-block;
    font-size: 50px;
    text-align: left;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 8%;
}

#name p{
    margin: 0;
}

#name .title{
    color: #bd93f9;
}

#name .subtitle{
    color: #ff79c6;   
}

button{
    font-family: 'cascadia';
    font-size: 15px;
    padding: 10px;
    color:#f8f8f2;
    border: #bd93f9 solid 3px;
    border-radius: 10px;
    background-color: transparent;
    cursor:pointer;
    transition: all 0.8s;
}

button:hover{
    transform:translateY(-5px);
}

#dracula{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 20%;
    display: initial;
}

#dracula img{
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
}

#menu2 {
    display: inline-block;
}

#menu2 h1{
    padding-left: 25%;
    font-size: 50px;
    color: #50fa7b;
}

#menu2 p{
    max-width: 50%;
    padding-left: 25%;
    color: #f8f8f2;
    text-align: justify;
    font-size: 20px;
}

#menu3 h1{
    padding-left: 25%;
    font-size: 50px;
    color: #50fa7b;
}

#menu3 h3{
    font-size: 40px;
    color: #50fa7b;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    text-align: center;
    border-radius: 10px;
    align-items: center;
    background-color: #30313b;
    width: 350px;
    height: 400px;
    -webkit-box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.25);
    box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.25);
}

.separator{
    margin: 40px;
}

.invisible-card{
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    background-color: transparent;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);

}

.flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    position: relative;
}


.card-front, .card-back{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.card-back{
    padding: 20px;
    padding-bottom: 0px;
    text-align: justify;
	transform: rotateY(180deg);
}

.card img{
    padding: 20px;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}

.card h2{
    color: #f8f8f2;
    font-size: 15px;
}

#menu4 h1{
    padding-left: 25%;
    font-size: 50px;
    color: #50fa7b;
}

.card2{
    padding: 20px;
    margin: 20px;
    transition: all 0.8s;
}

.card2:hover{
    transform: translateY(-5px);
}

.card2 h2{
    font-size: 30px;
    color:#ff79c6;
}

.card2 p{
    text-align: left;
    color: #f8f8f2;
}

.division{
    display: flex;
    align-items: center;
    justify-content: center;
}

.division p{
    padding-left: 8px;
    font-size: 15px;
}

.project{
    padding: 20px;
    align-items: center;
    max-width: 600px;
    max-height: 400px;
    border-radius: 30px;
}

.card2 button{
    margin-top: 50%;
}

.card2 button:hover{
    background-color: #bd93f9;
}

footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #282a36;
}

footer img{
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
}

footer h2{
    text-align: center;
    color: #bd93f9;
}